/* CSS declarations go here */
body{
	padding-top:50px;
}
/********** clearable inputs *****/
input.clearable{
	border-width:0;
	outline:none;
}
.divclearable {
    border: 2px solid grey;
    display: inline-block;
    margin: 0 5px 2px;
    padding: 1px 5px;
    vertical-align: middle;
}
.divclearable.active{
	 border-color: #006DCC;
}
a.clearlink {
	background: url("/img/close-button.png") no-repeat scroll 0 0 transparent;
	background-position: center center;
	cursor: pointer;
	display: -moz-inline-stack;
	display: inline-block;
	zoom:1;
	*display:inline;	
	height: 12px;
	width: 12px;
	z-index: 2000;
	border: 0px solid;
}
a.clearlink:hover {
	background: url("/img/close-button.png") no-repeat scroll -12px 0 transparent;
	background-position: center center;
}

.editable{
	
	display:block;
}
.editable:hover{
	background-color:yellow;
	
}

/*******************/
#login-buttons .login-display-name{
	line-height: 40px;
}
#login-buttons{
	float:right;
	 color: #999999;
}
#asloader{
	width:30px;
	height:30px;
	position:absolute;
	top:4px;
	left:10px;
	
}
#tasks button.stopwatch{
	width:90px;
}
/**********FOOTER*****/
#footer
{
	color:white;
	background-color:black;
	text-align:right;
	padding: 0 5px;
}
#selectedTasks{
	float:left;
}
#totalSessionTime
{
	
	float:right;
}
#cronWatchButtonCurrent{
	line-height:8px;
	font-size:11px;
	position:relative;bottom:1px;
	margin:0 5px;
}

/**** USERS ****/
div.usericon{
	background-repeat: no-repeat;
	width:43px;
	height:43px;
}
div.usericon.admin
{
	background-image: url(/img/users/admin.png);
}
div.usericon.user
{
	background-image: url(/img/users/user.png);
}
table#users tr {
	height:50px;
}
table#users div.promote,table#users div.demote{
	padding-left:45px;
	cursor:pointer;
}

input.fee,span.fee{
	width:60px;
	text-align:right;
	display:block;
	
}
td.fee{ width:80px;text-align:right}
td.username{
	width:250px;
}
td.currentProgress {
	width:400px;
	height:80;
	
}

/************  TASKS ************/
tr.task.overDue span.date{
	background-color: #B94A48;
}
tr.task.overRunning td.workedTime{
	color: #B94A48;
	font-weight: bold;
}
span.label.tag{
		cursor:pointer;
}
td.estimatedTime{
	width:200px;
}
span.estimatedTimeInput input{
	width:60px;
}


/************** GRAPHS  ****************/
/****** USER PROGRESS  ***********/

.currentProgress { font: 10px sans-serif; }
.currentProgress .marker { stroke: #000; stroke-width: 2px; }
.currentProgress .tick line { stroke: #666; stroke-width: .5px; }
.currentProgress .range.s0 { fill: #eee; }
.currentProgress .range.s1 { fill: #ddd; }
.currentProgress .range.s2 { fill: #ccc; }
.currentProgress .measure.s0 { fill: #D97534; }
.currentProgress .measure.s1 { fill: steelblue; }
.currentProgress .title { font-size: 14px; font-weight: bold; }
.currentProgress .subtitle { fill: #999; }
.currentProgress svg {height:40px;}