<head>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asana Time Tracking</title>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Asana Time Tracker</a>
  		{{> topbar}}
  		</div>
	</div>
</div>	
  {{> tasks }}
</body>

<template name="topbar">

 
    


		<ul class="nav">
		<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                        </ul>
                      </li>
			{{#if userLogged}}
				
				{{#if workspaceSelected}}
				<input id="sync" type="button" value="Sync {{currentWorkspaceName}} With Asana">
					<div id="projects">
					<ul>
					{{#each projects}}
						<li>{{name}}</li>
					{{/each}}
					</ul>
					</div>
				{{/if}}
				 <li class="dropdown">
				<a class="dropdown-toggle"
			       data-toggle="dropdown"
			       href="#">
			        Workspaces
			        <b class="caret"></b>
			      </a>
				<ul id="workspaces" class="dropdown-menu">
				{{#each workspaces}}
					<li><a href="*">{{name}}</a></li>
				{{/each}}
				</ul>
				</li>
			{{/if}}
		
		</ul>
		{{loginButtons}} 

</template>
<template name="tasks">
<div id="tasks">
{{#each tasks}}
				<li>{{details.name}}</li>
{{/each}}
</div>
</template>