

<template name="tasks">
{{#if hasTasks}}
<table id="tasks" class="content table table-striped table-bordered table-hover">
 <thead>
    <tr>
      <th>Task <div class="divclearable {{#if currentSearchString}}active{{/if}}"><input id="taskSearch" class="clearable" value="{{currentSearchString}}"><a class="clearlink clearTaskSearch" href="javascript:" title="Click to clear this textbox"></a></div></th>
   	  <th>Estimated Time</th>
   	  <th>Worked Time</th>
   	  <th></th>
    </tr>
  </thead>
    <tbody>
{{#each tasks}}
	<tr class="task" id="{{_id}}">
		<td>
				{{#if taskHasDetails}}
				<p><a href="javascript:" class="taskname" data-toggle="collapse" data-target="#taskdetails_{{_id}}">{{details.name}}</a></p>
				<p class="taskdetails collapse" id="taskdetails_{{_id}}" >{{details.notes}}</p>
				{{else}}
				<p><span class="taskname" >{{details.name}}</span></p>
				{{/if}}
				{{#each tags}}
						<span class="label tag">{{name}}</span>
				{{/each}}
				
			 	
		</td>
		<td> 
		{{estimatedSecs}}
		</td>	
		<td>
		{{formatWorkedSecs}}
		({{formatWorkedSessionSecs}})
		</td>		
		<td>
		{{#if taskIsRunning}}
		  <button id="cronWatchButton_{{_id}}" class="stopwatch btn btn-primary btn-danger" type="button">STOP</button>
		{{else}}
		  <button id="cronWatchButton_{{_id}}" class="stopwatch btn btn-primary" type="button">START</button>
		{{/if}}
		</td>	
	</tr>
{{/each}}
 </tbody>
</table>
{{/if}}



</template>